{% extends '_main.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h1>Update email</h1>
            </div>
        </div>
    </div>

    {{ flashes('col-md-4 offset-md-4') }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <form method="POST" action="{{ url_for('user.change_email_post') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email address"
                               value="{{ g.user.email if g.user.email is not none else '' }}">
                    </div>

                    <div class="form-group">
                        <label for="password">Current password</label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Current password">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>

                    <p class="form-text">
                        Note that you will need to verify your new email before you can use it to log in.
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
