{% macro twitterFormat(name, id) -%}
    {% set isFormat = sub and sub.data.get('twitter-format') == id %}
    {% set isSingle = sub and sub.data.get('twitter-format') is none and id == 'single' %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="twitter-fmt" value="{{ id }}"
               id="twfm-{{ id }}" {{ 'checked' if isFormat or isSingle or (not sub and id == 'single') }}>
        <label class="form-check-label" for="twfm-{{ id }}">{{ name }}</label>
    </div>
{%- endmacro %}

{% macro twitterImage(id, subcount) -%}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="twitter-image" value="{{ id }}"
               id="twim-{{ id }}" {{ 'checked' if (sub and sub.data.get('twitter-image') == id|string) or (not sub and id == 1) }}
               {{ 'disabled' if id > subcount }}>
        <label class="form-check-label" for="twim-{{ id }}">Image {{ id }}</label>
    </div>
{%- endmacro %}

<div class="d-none twitter-link mt-2">
    <input type="hidden" name="twitter-account" value="{{ sub.data.get('twitter-account') or '' if sub else '' }}">
    <input type="hidden" name="twitter-format"
           value="{{ sub.data.get('twitter-format') or 'single' if sub else 'single' }}">

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="twitter-custom" name="twitter-custom"
               value="y" {{ 'checked' if sub and sub.data.get('twitter-custom') == 'y' or '' }}>
        <label class="form-check-label" for="twitter-custom">Use Custom Text On Twitter</label>
    </div>

    <div class="form-group d-none twitter-custom mt-2">
        <label for="twitter-custom-text">Twitter Custom Text</label>
        <textarea id="twitter-custom-text" name="twitter-custom-text" class="form-control" maxlength="200"
                  placeholder="Custom Text — Your links will still be appened">{{ sub.data.get('twitter-custom-text') or '' if sub else '' }}</textarea>
    </div>

    <label class="mt-2">Twitter Format</label>

    {{ twitterFormat('Single Link', 'single') }}
    {{ twitterFormat('Multiple Sites', 'multi') }}

    <label class="mt-2">Twitter Links To</label>

    <div class="twitter-links"></div>

    {% if is_group or sub.group.grouped %}
        {% set subcount = sub.group.submissions | length if sub else 4 %}

        <label class="mt-2">Twitter Links To Image</label>

        <div class="twitter-links-image">
            {% for id in range(subcount) %}
                {{ twitterImage(id + 1, subcount if sub else 0) }}
            {% endfor %}
        </div>

        <small class="form-text text-muted">When linking to a site that does not support groups, which image should be linked to.</small>
    {% endif %}
</div>
