[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
blinker = "*"
beautifulsoup4 = "*"
chardet = "*"
cfscrape = "*"
influxdb = "*"
passwordmeter = "*"
python-tumblpy = "*"
raven = "*"
requests = "*"
simple-crypt = {git = "https://github.com/Syfaro/simple-crypt",ref = "6a6456eee622af44a5662e96e501f9c8315c35a7",editable = true}
tweepy = "*"
htmlmin = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-SQLAlchemy = "*"
Pillow = "*"
PyMySQL = "*"
Flask-Migrate = "*"
Flask-SeaSurf = "*"
"mastodon.py" = "*"
cachelib = "*"
authlib = "*"
filetype = "*"

[dev-packages]
pylint = "*"
nose = "*"
black = "*"
flake8 = "*"
rope = "*"
mypy = "*"
sqlalchemy-stubs = "*"
pytest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
