[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "~=3.1.4"
blinker = "~=1.4"
beautifulsoup4 = "~=4.6.0"
chardet = "~=3.0.4"
cfscrape = "~=1.9.5"
influxdb = "~=4.1.1"
python-magic = "~=0.4.15"
passwordmeter = "~=0.1.8"
python-tumblpy = "~=1.1.4"
raven = "~=6.9.0"
requests = "~=2.18.4"
simple-crypt = {git = "https://github.com/Syfaro/simple-crypt",ref = "6a6456eee622af44a5662e96e501f9c8315c35a7",editable = true}
tweepy = "~=3.5.0"
htmlmin = "~=0.1.12"
Flask = "~=0.12.2"
Flask-Bootstrap = "~=3.3.7.1"
Flask-SQLAlchemy = "~=2.4.1"
Pillow = "~=7.0.0"
PyMySQL = "~=0.7.11"
Flask-Migrate = "~=2.1.1"
Flask-SeaSurf = "~=0.2.2"
"mastodon.py" = "*"

[dev-packages]
pylint = "*"
nose = "*"
black = "==18.6b4"
flake8 = "*"
rope = "*"
mypy = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
