aadict==0.2.2
asset==0.6.10
bcrypt==2.0.0
beautifulsoup4==4.4.1
cffi==1.6.0
Flask==0.10.1
Flask-SQLAlchemy==2.1
globre==0.1.4
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
passwordmeter==0.1.8
pycparser==2.14
pycrypto==2.6.1
PyMySQL==0.7.3
requests==2.10.0
simple-crypt==4.1.7
six==1.10.0
SQLAlchemy==1.0.13
Werkzeug==0.11.9
