{% extends '_main.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h1>Change username</h1>
            </div>
        </div>
    </div>

    {{ flashes('col-md-4 offset-md-4') }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <form method="POST" action="{{ url_for('user.change_username_post') }}">
                    <div class="form-group">
                        <label for="username">New username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="New username" value="{{ g.user.username }}">
                    </div>

                    <div class="form-group">
                        <label for="password">Current password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Current password">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
