{% extends '_main.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <div class="page-header">
                    <h1>Reset Password</h1>
                </div>
            </div>
        </div>
    </div>

    {{ flashes('col-md-4 offset-md-4') }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <p>
                    Please note that resetting your password will remove all your accounts and saved submissions.
                    As this data was encrypted with your password, it cannot be retrieved.
                </p>

                <form method="POST" action="{{ url_for('user.password_reset_verify_post') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="verifier" value="{{ user.email_reset_verifier }}">

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" autocomplete="new-password" class="form-control"
                               id="password" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="confirm-password">Confirm password</label>
                        <input type="password" name="confirm-password" autocomplete="new-password" class="form-control"
                               id="confirm-password" placeholder="Confirm password">
                    </div>

                    <button type="submit" class="btn btn-primary">Reset password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
