{% extends '_main.html' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 offset-md-4">
				<div class="page-header">
                    <h1>Reset Password</h1>
                </div>
			</div>
		</div>
	</div>

	{{ flashes('col-md-4 offset-md-4') }}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 offset-md-4">
				<form method="POST" action="{{ url_for('user.password_reset_post') }}">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Email address" value="{{ session.get('email', '') }}">
                    </div>

                    <button type="submit" class="btn btn-primary">Reset password</button>
                </form>
			</div>
		</div>
	</div>
{% endblock %}
