{% extends '_main.html' %}

{% set page='settings' %}

{% block body %}
    <div class="container settings">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <div class="page-header">
                    <h1>Settings</h1>
                </div>
            </div>
        </div>
    </div>

    {{ flashes('col-md-4 offset-md-4') }}

    <div class="container settings">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h2>Account</h2>

                <div>
                    <a href="{{ url_for('user.change_username') }}">Change username</a>
                </div>

                <div>
                    <a href="{{ url_for('user.change_password') }}">Change password</a>
                </div>

                <div>
                    <a href="{{ url_for('user.change_email') }}">Update email</a>{% if not g.user.email %} (not yet
                    set){% endif %}
                </div>

                {% if g.user.email %}
                    <div>
                        {% set sub = 'Unsubscribe' if g.user.email_subscribed else 'Subscribe' %}
                        <a href="{{ url_for('user.email_' + (sub|lower)) }}">{{ sub }} {{ 'from' if g.user.email_subscribed else 'to' }}
                            the mailing list</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h2>Change theme</h2>

                <form method="POST" action="{{ url_for('user.update_theme') }}">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group">
                        <label for="theme">Theme name</label>
                        <select class="form-control" id="theme" name="theme">
                            <option value="Default" {{ 'selected' if not g.user.theme or g.user.theme == 'Default' }}>Default</option>

                            <optgroup label="Other Themes">
                                {% for theme in themes.themes %}
                                    <option value="{{ theme.name }}" {{ 'selected' if g.user.theme == theme.name }}>{{ theme.name }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>

                        <small class="form-text text-muted">
                            You can see previews of the themes <a href="https://bootswatch.com/">here</a>.
                        </small>
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h2>SoFurry settings</h2>

                <div>
                    <p class="help-block">Make explicit correspond to SoFurry's extreme rating.</p>

                    {% if sites.sofurry | length > 0 %}
                        <form method="POST" action="{{ url_for('user.settings_sofurry_remap_post') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {% for account in sites.sofurry %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="account[{{ account.id }}]"
                                               {% if account.enabled %}checked{% endif %}>
                                        {{ account.username }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    {% else %}
                        <p>No SoFurry accounts configured.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h2>FurAffinity settings</h2>

                <div>
                    <p class="help-block">Enable uploading higher resolution images to FurAffinity.</p>

                    {% if sites.furaffinity | length > 0 %}
                        <form method="POST" action="{{ url_for('user.settings_furaffinity_resolution_post') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {% for account in sites.furaffinity %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="account[{{ account.id }}]"
                                               {% if account.enabled %}checked{% endif %}>
                                        {{ account.username }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    {% else %}
                        <p>No SoFurry accounts configured.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h2>Tumblr settings</h2>

                <div>
                    <p>Include title in submission. It does not currently appear in the preview.</p>

                    {% if sites.tumblr | length > 0 %}
                        <form method="POST" action="{{ url_for('user.settings_tumblr_title_post') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {% for account in sites.tumblr %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="account[{{ account.id }}]"
                                               {% if account.enabled %}checked{% endif %}>
                                        {{ account.username }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    {% else %}
                        <p>No Tumblr accounts configured.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <h2>Twitter settings</h2>

                <div>
                    <p>Include #NSFW hashtag on mature and explicit submissions.</p>

                    {% if sites.twitter_hashtag | length > 0 %}
                        <form method="POST" action="{{ url_for('user.settings_twitter_nsfw') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {% for account in sites.twitter_hashtag %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="account[{{ account.id }}]"
                                               {% if account.enabled %}checked{% endif %}>
                                        {{ account.username }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    {% else %}
                        <p>No Twitter accounts configured.</p>
                    {% endif %}
                </div>

                {% if sites.twitter_hashtag | length > 0 %}
                    <div class="mt-2">
                        <p>Don't include image for explicit submissions.</p>

                        <form method="POST" action="{{ url_for('user.settings_twitter_noimage') }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                            {% for account in sites.twitter_noimage %}
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="account[{{ account.id }}]"
                                               {% if account.enabled %}checked{% endif %}>
                                        {{ account.username }}
                                    </label>
                                </div>
                            {% endfor %}

                            <button type="submit" class="btn btn-primary btn-sm">Update</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
