{% extends '_main.html' %}

{% set page = 'template' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h1>Submission Templates</h1>
                </div>
            </div>
        </div>
    </div>

    {{ flashes('col-md-4 offset-md-4') }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>New Template</h2>

                <div id="add-template"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Saved Templates</h2>

                {% for template in templates %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ template.name }}</h5>
                            <p class="card-text">
                                {{ template.content | nl2br }}
                            </p>
                            <form method="POST" action="{{ url_for('user.post_template_remove') }}">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="id" value="{{ template.id }}">

                                <button type="submit" class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/preact/8.2.9/preact.js" nonce="{{ nonce() }}"></script>
    <script src="{{ url_for('static', filename='js/user/template.js') }}" nonce="{{ nonce() }}" type="module"></script>
{% endblock %}
