{% extends '_main.html' %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 offset-md-4">
                <div class="page-header">
                    <h1>Forbidden</h1>
                </div>

                <p>
                    Missing or invalid security token. Please try your request again.
                </p>

                <p>
                    If you have been experiencing issues for any length of time, please <a
                        href="mailto:syfaro@huefox.com">email me</a> or <a href="https://t.me/Syfaro">Telegram me</a>.
                    I'd much rather get a few people reporting issues than not being aware of an issue at all.
                </p>

                <p>
                    <a href="{{ url_for('home.home') }}" class="btn btn-lg btn-primary">Home</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
