{% extends '_main.html' %}

{% block body %}
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12 col-md-4 offset-md-4">
				<div class="page-header">
                    <h1>Internal server error</h1>
                </div>

				<p>
					Please try again.
				</p>

				<p>
					If you have been experiencing issues for any length of time, please <a href="mailto:syfaro@huefox.com">email me</a> or <a href="https://t.me/Syfaro">Telegram me</a>. I'd much rather get a few people reporting issues than not being aware of an issue at all.
				</p>

				<p>
					<a href="/" class="btn btn-lg btn-primary">Home</a>
				</p>
			</div>
		</div>
	</div>

	{% if event_id %}
		<input type="hidden" name="event_id" value="{{ event_id }}">
		<input type="hidden" name="public_dsn" value="{{ public_dsn }}">

        <script src="{{ url_for('static', filename='js/error.js') }}"></script>
	{% endif %}
{% endblock %}
