{% macro flashes(width='col-sm-12') -%}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="container">
				<div class="row">
					<div class="{{ width }}">
						{% for message in messages %}
							<div class="alert alert-info">{{ message | safe }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endwith %}
{%- endmacro %}

{% macro showNotices() -%}
	{% if notices %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 offset-md-3">
					{% for notice in notices %}
						<div class="alert alert-info alert-dismissible">
							{% if user is defined %}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" data-id="{{ notice.id }}">&times;</span></button>{% endif %}
							{{ notice.text | safe }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{%- endmacro %}

{% set page = page|default('unknown') %}

<!--
        ,-.      .-,
        |-.\ __ /.-|
        \  `    `  /
        / _     _  \
        | _`q  p _ |
        '._=/  \=_.'
          {`\()/`}`\
          {      }  \
          |{    }    \
          \ '--'   .- \
          |-      /    \
          | | | | |     ;
          | | |.;.,..__ |
        .-"";`         `|
       /    |           /
       `-../____,..---'`

-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Furry Art Multiuploader</title>

	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pulse.min.css') }}">

    <style>
        .page-header h1 {
            padding: 2rem 0;
            font-size: 3rem;
        }

        .page-header + h1 {
            margin: -3rem 0 2rem;
        }

        .settings .row:not(:first-child) {
            margin-bottom: 20px;
        }

        .description-preview-modal .card-text {
            white-space: pre-wrap;
        }

        @media(max-width: 576px) {
            .page-header + h1 {
                margin: -2rem 0 2rem;
            }
        }
    </style>
</head>
<body>
	<script src="https://cdn.ravenjs.com/3.18.1/raven.min.js" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/raven.js') }}"></script>

	<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">Furry Art Multiuploader</a>

            {% if g.user %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ 'active' if page in ('upload', 'csv', 'review') }}" href="#" data-toggle="dropdown">
                                Upload
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item {{ 'active' if page == 'upload' }}" href="/upload">Simple Upload</a>
                                <a class="dropdown-item {{ 'active' if page == 'csv' }}" href="/upload/csv">Spreadsheet Upload</a>
                                <a class="dropdown-item" href="/beta">Beta Interface</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item {{ 'active' if page == 'review' }}" href="/upload/review">Pending Review</a>
                            </div>
                        </li>

                        <li class="nav-item {{ 'active' if page == 'accounts' }}">
                            <a class="nav-link" href="/accounts">Manage Accounts</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{ 'active' if page in ('settings') }}" href="#" data-toggle="dropdown">
                                {{ g.user.username }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item {{ 'active' if page == 'settings' }}" href="/settings">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>

	{% block body %}{% endblock %}

	<div class="container" style="margin-top: 1em; margin-bottom: 1em">
		<footer class="footer">
			<div class="row">
				<div class="col-sm-12 text-center text-muted">
                    <div>
                        <a href="mailto:Syfaro<syfaro@huefox.com>?subject=Multiuploader">Bug? Suggestion?</a>
                    </div>

                    <div>
					    <a title="Donate" href="https://ko-fi.com/syfaro" target="_blank">Donate &hearts;</a>
					</div>

					<div>
						<a title="Current revision" style="color: #{{ git_version[1:7] }}; font-family: monospace" href="https://git.huefox.com/syfaro/multiupload/commit/{{ git_version }}">{{ git_version }}</a>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
	<script src="{{ url_for('static', filename='js/notices.js') }}"></script>
</body>
</html>
