<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Furry Art Multiuploader</title>

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/pulse.min.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
