{% extends '_main.html' %}

{% block body %}
	<div class="container">
 		<div class="row">
			<div class="col-sm-12">
				<h2><a href="/beta">Try the new interface here</a></h2>
			</div>
		</div>
	</div>

    <div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h1>Upload new art</h1>

				<p>Hello, {{ user.username }}!</p>
			</div>
		</div>
	</div>

	{{ showNotices() }}

	{{ flashes() }}

	<div class="container">
		<form method="POST" action="/upload" enctype="multipart/form-data" name="upload">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<h2>Basic info</h2>

					<div class="form-group">
						<input type="text" class="form-control" name="title" placeholder="Title" value="{{ request.form.title }}" autocomplete="off">
					</div>

					<div class="form-group">
						<textarea class="form-control description" name="description" placeholder="Description" autocomplete="off">{{ request.form.description }}</textarea>
					</div>

					<div class="form-group">
						<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".add-user-modal">Add user link</button>
						<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".description-preview-modal">Preview description</button>

						<p class="help-block">
							Markdown URLs will be converted for sites that do not support it.
						</p>
					</div>

					<div class="form-group">
						<textarea class="form-control keywords" name="keywords" placeholder="Keywords" autocomplete="off">{{ request.form.keywords }}</textarea>

						<p class="help-block">Separate keywords with spaces. <abbr title="A hashtag is any keyword that starts with a '#'">Hashtags will only be included on Twitter.</abbr></p>

						<div class="hidden inkbunny-message">
							<p>Please note that Inkbunny <a href="https://wiki.inkbunny.net/wiki/Keyword_Policy#Minimum_Required_Keywords">requires keywords for sex, species, and essential themes</a>.</p>
						</div>
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="rating" value="general"> General
						</label>
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="rating" value="mature"> Mature
						</label>
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="rating" value="explicit"> Explicit
						</label>
					</div>
				</div>

				<div class="col-sm-12 col-md-6">
					<h2>Image</h2>

					<div class="form-group">
						<input type="file" class="form-control upload-image" name="image" accept="image/*">
					</div>

					<img class="img-fluid block-center preview-image">
				</div>

				<div class="col-sm-12 col-md-3">
					<h2>Upload to</h2>

					{% for account in user.accounts %}
						<div class="checkbox">
							<label>
								<input type="checkbox" name="account" value="{{ account.id }}" {% if account.used_last == 1 %}checked{% endif %} data-site="{{ account.site_id }}" data-site-name="{{ account.site.name }}" data-account="{{ account.username }}">
								{{ account.site.name }} - {{ account.username }}
								<a href="/remove/{{ account.id }}" class="btn btn-sm btn-danger">Remove</a>
							</label>
						</div>
					{% endfor %}

					<a href="/add" class="btn btn-sm btn-secondary">Add account</a>

					<div class="d-none twitter-link">
						<h3>Twitter links to</h3>

						<div class="twitter-links"></div>
					</div>
				</div>
			</div>

			<div class="row" style="margin-top: 20px">
				<div class="col-sm-12 col-md-4 offset-md-4 text-center">
					<button type="submit" class="btn btn-lg btn-primary">Upload</button>
				</div>
			</div>

		</form>
	</div>

	<div class="modal add-user-modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
                    <h5 class="modal-title">Link a user</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<form>
						<div class="form-group">
							<input type="text" name="username" class="form-control" placeholder="Username">
						</div>

						<div class="well">
							<label>
								Please select which site this user is on.
							</label>

							{% for site in sites %}
								<div class="radio">
									<label>
										<input type="radio" name="site_name" value="{{ site.id }}"> {{ site.name }}
									</label>
								</div>
							{% endfor %}
						</div>

						<div class="well">
							<label>
								Please select what kind of link you want it to be.
							</label>

							<div class="radio">
								<label>
									<input type="radio" name="link_type" value="0" checked> Just link
								</label>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="link_type" value="1"> Just profile picture
								</label>

								<p class="help-block">
									Note that this option may not be available on all sites. It may appear as a link.
								</p>
							</div>

							<div class="radio">
								<label>
									<input type="radio" name="link_type" value="2"> Link and profile picture
								</label>

								<p class="help-block">
									Note that this option may not be available on all sites. It may appear as a link.
								</p>
							</div>
						</div>
					</form>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary add-user-link">Add user link</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal description-preview-modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
                    <h5 class="modal-title">Preview description</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
				</div>
			</div>
		</div>
	</div>

    <script>
    	var imagePreview = document.querySelector('.preview-image');

    	document.querySelector('.upload-image').addEventListener('change', function () {
			Raven.captureBreadcrumb({
				message: 'Selected file to upload',
				category: 'multiupload.web',
				level: 'info',
				data: {
					len: this.files.length,
					type: typeof this.files[0]
				}
			});

			if (!this.files) {
				return alert('Missing file.');
			}

			if (this.files.length > 1 || this.files.length === 0) {
				return alert('Invalid number of files selected.');
			}

    		try {
				imagePreview.src = URL.createObjectURL(this.files[0]);
			} catch (err) {
				Raven.captureException(err);
				return alert('Some error with selected file.');
			}
    	});

    	[document.querySelector('.description'), document.querySelector('.keywords')].forEach(function (item) {
    		item.addEventListener('input', function () {
    			this.style.height = '';
    			this.style.height = Math.min(this.scrollHeight+10, 200) + 'px';
    		});
    	});

    	document.querySelector('.add-user-link').addEventListener('click', function () {
    		insertUserLink();
    	});

    	document.querySelector('.modal-body form').addEventListener('submit', function (e) {
    		e.preventDefault();

    		insertUserLink();
    	});

    	var inkbunny = document.querySelectorAll('input[name="account"][data-site="4"]');
    	var inkbunnyMessage = document.querySelector('.inkbunny-message');

    	var updateInkbunnyMessage = function () {
    		var hasChecked = document.querySelectorAll('input[name="account"][data-site="4"]:checked');

    		if (hasChecked.length > 0) {
    			inkbunnyMessage.classList.remove('d-none');
    		} else {
    			inkbunnyMessage.classList.add('d-none');
    		}
    	};

    	for (var i = 0; i < inkbunny.length; i++) {
    		inkbunny[i].addEventListener('change', function (e) {
    			updateInkbunnyMessage();
    		});
    	}

    	updateInkbunnyMessage();

    	var sites = document.querySelectorAll('input[name="account"]');
    	var updateTwitterLinks = function () {
    		var hasTwitterSelected = false;

    		for (var i = 0; i < sites.length; i++) {
    			if (sites[i].dataset.site == '100' && sites[i].checked) {
    				hasTwitterSelected = true;
    				break;
    			}
    		}

    		if (!hasTwitterSelected) {
    			document.querySelector('.twitter-link').classList.add('d-none');
    			return;
    		}

    		var otherSitesSelected = [];
    		for (var i = 0; i < sites.length; i++) {
    			if (!sites[i].checked || sites[i].dataset.site == '100') {
    				continue;
    			}

    			var data = sites[i].dataset;
    			otherSitesSelected.push({
    				site: data.site,
    				siteName: data.siteName,
    				userName: data.account,
    				id: sites[i].value
    			});
    		}

    		if (otherSitesSelected.length === 0) {
    			document.querySelector('.twitter-link').classList.add('d-none');
    			return;
    		}

    		document.querySelector('.twitter-links').innerHTML = '';

    		var links = document.querySelector('.twitter-links');

    		for (var i = 0; i < otherSitesSelected.length; i++) {
    			var item = document.createElement('div');

    			var checkbox = document.createElement('input');
    			checkbox.type = 'radio';
    			checkbox.value = otherSitesSelected[i].id;
    			checkbox.name = 'twitterlink';

    			var label = document.createElement('label');
    			label.appendChild(checkbox);
    			label.innerHTML += ' ' + otherSitesSelected[i].siteName + ' - ' + otherSitesSelected[i].userName;

    			item.appendChild(label);
    			links.appendChild(item);
    		}

    		document.querySelector('.twitter-link').classList.remove('d-none');
    	};
    	updateTwitterLinks();
    	for (var i = 0; i < sites.length; i++) {
    		sites[i].addEventListener('change', updateTwitterLinks);
    	}

    	var insertUserLink = function () {
    		$('.add-user-modal').modal('hide');

    		var values = [
    			document.querySelector('.add-user-modal input[name="username"]').value,
    			document.querySelector('.add-user-modal input[name="site_name"]:checked').value,
    			document.querySelector('.add-user-modal input[name="link_type"]:checked').value
    		];

    		var output = '<|' + values.join(',') + '|>';

    		var textArea = document.querySelector('textarea[name="description"]');

    		var caretPos = textArea.selectionStart;
    		textArea.value = textArea.value.substring(0, caretPos) + output + textArea.value.substring(caretPos);

    		document.querySelector('.add-user-modal input[name="username"]').value = '';
    	};

    	$('.description-preview-modal').on('show.bs.modal', function () {
    		var body = document.querySelector('.description-preview-modal .modal-body');
    		body.innerHTML = 'Loading&hellip;';

    		$.ajax({
    			type: 'GET',
    			url: '/preview/description',
    			data: $('input[name="account"], .description').serialize()
    		}).always(function (data) {
    			body.innerHTML = '';

    			for (var i = 0; i < data.descriptions.length; i++) {
    				var description = data.descriptions[i];

    				var name = document.createElement('label');
    				name.innerHTML = description.site;

    				var well = document.createElement('div');
    				well.classList.add('well');

    				$(well).text(description.description);

    				body.appendChild(name);
    				body.appendChild(well);
    			}
    		});
    	});
    </script>
{% endblock %}
