{% extends '_main.html' %}

{% set page='upload' %}

{% from 'modals.html' import userLinkModal, descriptionPreviewModal %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
                    <h1>Upload New Art</h1>
                </div>
			</div>
		</div>
	</div>

	{{ showNotices() }}

	{{ flashes() }}

	<div class="container">
		<form method="POST" action="/upload" enctype="multipart/form-data" name="upload">
			<div class="row">
				<div class="col-sm-12 col-md-3">
					<h2>Basic info</h2>

					<div class="form-group">
						<input type="text" class="form-control" name="title" placeholder="Title" value="{{ request.form.title }}" autocomplete="off">
					</div>

					<div class="form-group">
						<textarea class="form-control description" name="description" placeholder="Description" autocomplete="off">{{ request.form.description }}</textarea>
                        <p class="help-block">
							Markdown URLs will be converted for sites that do not support it.
						</p>
					</div>

					<div class="form-group">
						<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".add-user-modal">Add user link</button>
						<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".description-preview-modal">Preview description</button>
					</div>

					<div class="form-group">
						<textarea class="form-control keywords" name="keywords" placeholder="Keywords" autocomplete="off">{{ request.form.keywords }}</textarea>

						<p class="help-block">Separate keywords with spaces. <abbr title="A hashtag is any keyword that starts with a '#'">Hashtags will only be included on Twitter.</abbr></p>

						<div class="hidden inkbunny-message">
							<p>Please note that Inkbunny <a href="https://wiki.inkbunny.net/wiki/Keyword_Policy#Minimum_Required_Keywords">requires keywords for sex, species, and essential themes</a>.</p>
						</div>
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="rating" value="general"> General
						</label>
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="rating" value="mature"> Mature
						</label>
					</div>

					<div class="radio">
						<label>
							<input type="radio" name="rating" value="explicit"> Explicit
						</label>
					</div>
				</div>

				<div class="col-sm-12 col-md-6">
					<h2>Image</h2>

					<div class="form-group">
						<input type="file" class="form-control upload-image" name="image" accept="image/*">
					</div>

					<img class="img-fluid block-center preview-image">
				</div>

				<div class="col-sm-12 col-md-3">
					<h2>Upload to</h2>

					{% for account in user.accounts %}
						<div class="form-check">
                            <input class="form-check-input" type="checkbox" name="account" value="{{ account.id }}" id="account{{ account.id }}" {{ 'checked' if account.used_last == 1 }} data-site="{{ account.site_id }}" data-site-name="{{ account.site.name }}" data-account="{{ account.username }}">
                            <label class="form-check-label" for="account{{ account.id }}">{{ account.site.name }} - {{ account.username }}</label>
						</div>
					{% endfor %}

                    {% if user.accounts.count() == 0 %}
                        <a href="/accounts" class="btn btn-lg btn-primary">Add Account</a>
                    {% endif %}

					<div class="d-none twitter-link mt-2">
						<h3>Twitter links to</h3>

						<div class="twitter-links"></div>
					</div>

                    <div class="d-none deviantart-category mt-2">
                        <h3>DeviantArt Mature Classification</h3>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="da-content" value="nudity" id="da-nudity">
                            <label class="form-check-label" for="da-nudity">Nudity</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="da-content" value="sexual" id="da-sexual">
                            <label class="form-check-label" for="da-sexual">Sexual</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="da-content" value="gore" id="da-gore">
                            <label class="form-check-label" for="da-gore">Gore</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="da-content" value="language" id="da-language">
                            <label class="form-check-label" for="da-language">Language</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="da-content" value="ideology" id="da-ideology">
                            <label class="form-check-label" for="da-ideology">Ideology</label>
                        </div>

                        <h3 class="mt-2">DeviantArt Category</h3>

                        <input type="hidden" name="deviantart-category">

                        <div class="deviantart-categories"></div>

                        <div class="spinner" style="display: none;"></div>
                    </div>
				</div>
			</div>

			<div class="row" style="margin-top: 20px">
				<div class="col-sm-12 col-md-4 offset-md-4 text-center">
                    <button type="submit" class="btn btn-lg btn-secondary" formaction="/upload/save">Save For Later</button>
					<button type="submit" class="btn btn-lg btn-primary">Upload</button>
				</div>
			</div>

		</form>
	</div>

    {{ userLinkModal(sites) }}
    {{ descriptionPreviewModal() }}

    <script>
    	var imagePreview = document.querySelector('.preview-image');

    	document.querySelector('.upload-image').addEventListener('change', function () {
			Raven.captureBreadcrumb({
				message: 'Selected file to upload',
				category: 'multiupload.web',
				level: 'info',
				data: {
					len: this.files.length,
					type: typeof this.files[0]
				}
			});

			if (!this.files) {
				return alert('Missing file.');
			}

			if (this.files.length > 1 || this.files.length === 0) {
				return alert('Invalid number of files selected.');
			}

    		try {
				imagePreview.src = URL.createObjectURL(this.files[0]);
			} catch (err) {
				Raven.captureException(err);
				return alert('Some error with selected file.');
			}
    	});

    	[document.querySelector('.description'), document.querySelector('.keywords')].forEach(function (item) {
    		item.addEventListener('input', function () {
    			this.style.height = '';
    			this.style.height = Math.min(this.scrollHeight+10, 200) + 'px';
    		});
    	});

    	document.querySelector('.add-user-link').addEventListener('click', function () {
    		insertUserLink();
    	});

    	document.querySelector('.modal-body form').addEventListener('submit', function (e) {
    		e.preventDefault();

    		insertUserLink();
    	});

    	var inkbunny = document.querySelectorAll('input[name="account"][data-site="4"]');
    	var inkbunnyMessage = document.querySelector('.inkbunny-message');

    	var updateInkbunnyMessage = function () {
    		var hasChecked = document.querySelectorAll('input[name="account"][data-site="4"]:checked');

    		if (hasChecked.length > 0) {
    			inkbunnyMessage.classList.remove('d-none');
    		} else {
    			inkbunnyMessage.classList.add('d-none');
    		}
    	};

    	for (var i = 0; i < inkbunny.length; i++) {
    		inkbunny[i].addEventListener('change', function (e) {
    			updateInkbunnyMessage();
    		});
    	}

    	updateInkbunnyMessage();

    	var sites = document.querySelectorAll('input[name="account"]');
    	var updateTwitterLinks = function () {
    		var hasTwitterSelected = false;

    		for (var i = 0; i < sites.length; i++) {
    			if (sites[i].dataset.site == '100' && sites[i].checked) {
    				hasTwitterSelected = true;
    				break;
    			}
    		}

    		if (!hasTwitterSelected) {
    			document.querySelector('.twitter-link').classList.add('d-none');
    			return;
    		}

    		var otherSitesSelected = [];
    		for (var i = 0; i < sites.length; i++) {
    			if (!sites[i].checked || sites[i].dataset.site == '100') {
    				continue;
    			}

    			var data = sites[i].dataset;
    			otherSitesSelected.push({
    				site: data.site,
    				siteName: data.siteName,
    				userName: data.account,
    				id: sites[i].value
    			});
    		}

    		if (otherSitesSelected.length === 0) {
    			document.querySelector('.twitter-link').classList.add('d-none');
    			return;
    		}

    		document.querySelector('.twitter-links').innerHTML = '';

    		var links = document.querySelector('.twitter-links');

    		for (var i = 0; i < otherSitesSelected.length; i++) {
    			var item = document.createElement('div');
    			item.classList.add('form-check');

    			var checkbox = document.createElement('input');
    			checkbox.classList.add('form-check-input');
    			checkbox.type = 'radio';
    			checkbox.value = otherSitesSelected[i].id;
    			checkbox.name = 'twitterlink';
    			checkbox.id = 'site' + otherSitesSelected[i].id;

    			var label = document.createElement('label');
    			label.classList.add('form-check-label');
    			label.innerHTML = otherSitesSelected[i].siteName + ' - ' + otherSitesSelected[i].userName;
    			label.htmlFor = 'site' + otherSitesSelected[i].id;

    			item.appendChild(checkbox);
    			item.appendChild(label);
    			links.appendChild(item);
    		}

    		document.querySelector('.twitter-link').classList.remove('d-none');
    	};
    	updateTwitterLinks();
    	for (var i = 0; i < sites.length; i++) {
    		sites[i].addEventListener('change', updateTwitterLinks);
    	}

    	var insertUserLink = function () {
    		$('.add-user-modal').modal('hide');

    		var values = [
    			document.querySelector('.add-user-modal input[name="username"]').value,
    			document.querySelector('.add-user-modal input[name="site_name"]:checked').value,
    			document.querySelector('.add-user-modal input[name="link_type"]:checked').value
    		];

    		var output = '<|' + values.join(',') + '|>';

    		var textArea = document.querySelector('textarea[name="description"]');

    		var caretPos = textArea.selectionStart;
    		textArea.value = textArea.value.substring(0, caretPos) + output + textArea.value.substring(caretPos);

    		document.querySelector('.add-user-modal input[name="username"]').value = '';
    	};

    	$('.description-preview-modal').on('show.bs.modal', function () {
    		var body = document.querySelector('.description-preview-modal .modal-body');
    		body.innerHTML = 'Loading&hellip;';

    		$.ajax({
    			type: 'GET',
    			url: '/preview/description',
    			data: $('input[name="account"], .description').serialize()
    		}).always(function (data) {
    			body.innerHTML = '';

    			for (var i = 0; i < data.descriptions.length; i++) {
    				var description = data.descriptions[i];

    				var name = document.createElement('label');
    				name.innerHTML = description.site;

    				var well = document.createElement('div');
    				well.classList.add('well');

    				$(well).text(description.description);

    				body.appendChild(name);
    				body.appendChild(well);
    			}
    		});
    	});
    </script>

    <script src="{{ url_for('static', filename='js/upload/deviantart.js') }}"></script>
{% endblock %}
