{% extends '_main.html' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-md-offset-4">
				<h1>Log into {{ site.name }}</h1>
			</div>
		</div>
	</div>

	{{ flashes() }}

	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-md-offset-4">
				<p>
					Please visit <a href="https://www.weasyl.com/control/apikeys" target="_blank">this page</a> to get your Weasyl authentication token. It should be a long string. You may need to click "New API Key" to generate one. We suggest generating a new one and setting a description so if you need to revoke one in the future, you can remember which one is which.
				</p>

				<form method="POST" action="/add/{{ site.id }}">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

					<div class="form-group">
						<input type="text" class="form-control" name="api_token" placeholder="API Token" autocomplete="off">
					</div>

					<div class="form-group">
						<input type="password" class="form-control" name="site_password" placeholder="Multiuploader password">
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
