{% extends '_main.html' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
                    <h1>Spreadsheet Upload</h1>
                </div>
            </div>

            <div class="col-sm-12 col-md-4 offset-md-4">
                <form method="POST" action="{{ url_for('upload.csv_post') }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">CSV File</label>
                        <input type="file" class="form-control-file" id="file" name="file">
                        <small class="form-text text-muted">
                            Use a CSV file with the columns <code>title</code>, <code>description</code>, <code>keywords</code>, and <code>rating</code> to batch submit.
                            Rating should be general, mature, or explicit.
                            Keywords should be separated by spaces.
                            You will have a chance to review and edit any fields after uploading the CSV.
                        </small>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Upload and review</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
{% endblock %}
