{% extends '_main.html' %}

{% set page='review' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
                    <h1>Submissions Pending Review</h1>
                </div>
            </div>
        </div>
    </div>

    {{ flashes() }}

    <div class="container list">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 30%">Title</th>
                            <th>Description</th>
                            <th>Keywords</th>
                            <th>Rating</th>
                            <th>Sites</th>
                            <th>Image</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sub in submissions %}
                            <tr>
                                <th>{{ sub.title}}</th>
                                <td>{{ sub.description|has_text }}</td>
                                <td>{{ sub.tags|has_text }}</td>
                                <td>{{ sub.rating|has_text }}</td>
                                <td>{{ sub.account_ids|has_text }}</td>
                                <td>{{ sub.image_filename|has_text }}</td>
                                <td>
                                    <form action="{{ url_for('upload.remove') }}" method="POST">
                                        <input type="hidden" name="id" value="{{ sub.id }}">
                                        <a href="{{ url_for('upload.review', id=sub.id) }}" class="btn btn-sm btn-secondary">Review</a>
                                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
