{% extends '_main.html' %}

{% set page = 'review' if sub.id else 'upload' %}

{% from 'modals.html' import userLinkModal, descriptionPreviewModal %}
{% from 'review/helpers.html' import folder_select %}

{% macro ratingCheckbox(rating) -%}
    {% set name = rating.value|capitalize %}
    {% set lname = name|lower %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="rating" id="rating-{{ lname }}"
               value="{{ lname }}" {{ 'checked' if sub.rating == rating }}>
        <label class="form-check-label" for="rating-{{ lname }}">{{ name }}</label>
    </div>
{%- endmacro %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header">
                    <h1>{{ 'Review Submission' if sub.id else 'Upload New Art' }}</h1>
                </div>
            </div>
        </div>
    </div>

    {{ showNotices() }}

    {{ flashes() }}

    <div class="container">
        <form method="POST" action="{{ url_for('upload.create_art_post') }}" enctype="multipart/form-data">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="id" value="{{ sub.id or '' }}">

            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" value="{{ sub.title if sub.title is not none }}" name="title" id="title"
                               placeholder="Title" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description"
                                  placeholder="Description">{{ sub.description if sub.description is not none }}</textarea>

                        <p class="form-text">
                            <button type="button" class="btn btn-secondary btn-sm mb-1" data-toggle="modal"
                                    data-target=".add-user-modal">Add user link
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm mb-1" data-toggle="modal"
                                    data-target=".description-preview-modal">Preview description
                            </button>
                        </p>

                        <p class="form-text">
                            In addition to site specific user links, the other Markdown conversions are documented <a
                                href="https://git.huefox.com/syfaro/multiupload/wiki/Supported-Markdown-Conversions"
                                target="_blank">here</a>.
                        </p>
                    </div>

                    <div class="form-group">
                        <label for="keywords">Keywords</label>
                        <textarea class="form-control" name="keywords" id="keywords"
                                  placeholder="Keywords">{{ sub.tags if sub.tags is not none }}</textarea>

                        <p class="form-text twitter-hashtag d-none">
                            Keywords beginning with a hashtag will only appear on submissions to Twitter.
                        </p>

                        {{ getSiteTemplates('keywords') }}
                    </div>

                    <div class="form-group">
                        <label for="resize">Max Resolution</label>
                        <input type="text" name="resize" id="resize" placeholder="Height x Width" class="form-control"
                               value="{{ sub.data.resize if sub.data.resize is not none }}">
                    </div>

                    {% for r in rating() %}
                        {{ ratingCheckbox(r) }}
                    {% endfor %}

                    <div class="mt-2">
                        {% for account in accounts %}
                            {% set folders = account.account.data.filter_by(key='folders').first() %}
                            {% if folders %}
                                {% set data = folders.json %}

                                {% if data|length > 0 %}
                                    {{ folder_select(account.account, data, sub) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    {{ getSiteTemplates('left_sidebar') }}
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" class="form-control upload-image" id="image" name="image" accept="image/*">
                    </div>

                    <img class="img-fluid block-center preview-image" {{ 'src=' + url_for('upload.image', filename=sub.image_filename) if sub.image_filename is not none }}>
                </div>

                {% if not sub.group.grouped %}
                    <div class="col-sm-12 col-md-4">
                        <label>Upload to</label>

                        {% set ac = namespace(accounts=false) %}

                        {% for account in accounts %}
                            {% set ac.accounts = true %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="account"
                                       value="{{ account.account.id }}"
                                       id="account{{ account.account.id }}" {{ 'checked' if account.selected }}
                                       data-site="{{ account.account.site_id }}"
                                       data-site-name="{{ account.account.site.name }}"
                                       data-account="{{ account.account.username }}">
                                <label class="form-check-label"
                                       for="account{{ account.account.id }}">{{ account.account.site.name }}
                                    - {{ account.account.username }}</label>
                            </div>
                        {% endfor %}

                        {% if not ac.accounts %}
                            <div>
                                <a class="btn btn-primary" href="{{ url_for('accounts.manage') }}">Add Accounts</a>
                            </div>
                        {% endif %}

                        {{ getSiteTemplates('right_sidebar') }}
                    </div>
                {% else %}
                    <div class="col-sm-12 col-md-4">
                        Set accounts and other info on the <a
                            href="{{ url_for('upload.update_master', id=sub.group.master.id) }}">master submission</a>.
                    </div>
                {% endif %}
            </div>

            <div class="row mt-3">
                <div class="col-sm-12 col-md-4 offset-md-4 text-center">
                    {% if sub.group.grouped %}
                        <div>
                            <button type="submit" class="btn btn-secondary btn-lg"
                                    formaction="{{ url_for('list.save') }}">Save
                            </button>
                        </div>

                        <div class="mt-1">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    formaction="{{ url_for('list.remove') }}">Remove
                            </button>
                        </div>
                    {% else %}
                        <div>
                            <button type="submit" class="btn btn-secondary btn-lg"
                                    formaction="{{ url_for('list.save') }}">
                                Save For Later
                            </button>
                            <button type="submit" class="btn btn-primary btn-lg">Upload</button>
                        </div>

                        {% if sub.id %}
                            <div class="mt-1">
                                <button type="submit" class="btn btn-danger btn-sm"
                                        formaction="{{ url_for('list.remove') }}">Remove
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </form>
    </div>

    {{ userLinkModal() }}
    {{ descriptionPreviewModal() }}

    <script src="{{ url_for('static', filename='js/upload/review.js') }}" nonce="{{ nonce() }}"></script>
    <script src="{{ url_for('static', filename='js/upload/userlink.js') }}" nonce="{{ nonce() }}"></script>
    <script src="{{ url_for('static', filename='js/upload/preview.js') }}" nonce="{{ nonce() }}"></script>
    <script src="{{ url_for('static', filename='js/upload/folders.js') }}" nonce="{{ nonce() }}"></script>

    {% if not sub.group.grouped %}
        {{ getSiteScripts() }}
    {% endif %}
{% endblock %}
