{% macro flashes() -%}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						{% for message in messages %}
							<div class="alert alert-info">{{ message | safe }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endwith %}
{%- endmacro %}

<!--
        ,-.      .-,
        |-.\ __ /.-|
        \  `    `  /
        / _     _  \
        | _`q  p _ |
        '._=/  \=_.'
          {`\()/`}`\
          {      }  \
          |{    }    \
          \ '--'   .- \
          |-      /    \
          | | | | |     ;
          | | |.;.,..__ |
        .-"";`         `|
       /    |           /
       `-../____,..---'`

-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Furry Art Multiuploader</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<style>
		/* CSS classes just to make my name purple, what of it? :3 */

		.syfaro {
			color: #a77bdb;
		}

		.syfaro:hover {
			color: #7f50c3;
			text-decoration: none;
		}
	</style>
</head>
<body>
	{% block body %}{% endblock %}

	<div class="container">
		<footer class="footer">
			{% if user is defined %}
				<div class="pull-right">
					<a href="/changepass">Change password</a> &middot; <a href="/logout">Log out</a>
				</div>
			{% endif %}

			<div class="pull-left">
				<a href="mailto:Syfaro<syfaro@foxpaw.in>?subject=Multiuploader">Bug? Suggestion?</a>
				<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=syfaro%40foxpaw%2ein&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" class="syfaro">&hearts;</a>
			</div>
		</footer>
	</div>
</body>
</html>
