{% macro flashes(width='col-sm-12') -%}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="container">
				<div class="row">
					<div class="{{ width }}">
						{% for message in messages %}
							<div class="alert alert-info">{{ message | safe }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endwith %}
{%- endmacro %}

{% macro showNotices() -%}
	{% if notices %}
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-md-offset-3">
					{% for notice in notices %}
						<div class="alert alert-info alert-dismissible">
							{% if user is defined %}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" data-id="{{ notice.id }}">&times;</span></button>{% endif %}
							{{ notice.text }}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
{%- endmacro %}

<!--
        ,-.      .-,
        |-.\ __ /.-|
        \  `    `  /
        / _     _  \
        | _`q  p _ |
        '._=/  \=_.'
          {`\()/`}`\
          {      }  \
          |{    }    \
          \ '--'   .- \
          |-      /    \
          | | | | |     ;
          | | |.;.,..__ |
        .-"";`         `|
       /    |           /
       `-../____,..---'`

-->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>Furry Art Multiuploader</title>

	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon">

	{% if not user or not user.dark_theme %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/flatly.min.css') }}">
	{% else %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/darkly.min.css') }}">
	{% endif %}

	<style>
		/* CSS classes just to make my name purple, what of it? :3 */

		.syfaro {
			color: #a77bdb;
		}

		.syfaro:hover {
			color: #7f50c3;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<script src="https://cdn.ravenjs.com/3.18.1/raven.min.js" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/raven.js') }}"></script>

	<script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	{% block body %}{% endblock %}

	<div class="container" style="margin-top: 1em; margin-bottom: 1em">
		<footer class="footer">
			<div class="row">
				<div class="col-xs-4 text-left">
					<a href="mailto:Syfaro<syfaro@huefox.com>?subject=Multiuploader">Bug? Suggestion?</a>
				</div>

				<div class="col-xs-4 text-center text-muted">
					 <div>
						 <a title="Donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=syfaro@huefox.com&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" class="syfaro donate">Donate &hearts;</a>
					 </div>

					<div>
						<span title="Current revision" style="color: #{{ git_version[1:7] }}; font-family: monospace">{{ git_version }}</span>
					</div>
				</div>

				{% if user is defined %}
					<div class="col-xs-4 text-right">
						<ul class="list-inline">
							<li><a href="/settings">Settings</a></li>
							<li><a href="/logout">Log out</a></li>
						</ul>
					</div>
				{% endif %}
			</div>
		</footer>
	</div>

	<div class="modal donate-modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Donate</h4>
				</div>
	
				<div class="modal-body">
					<div>
						You know what's really cool? Artwork. That's why I made this tool!
						Instead of a monetary donation, artistic ones are just as good, if not better.
					</div>

					<div style="margin-top: 10px">
						If you feel generous, you can find my character reference at <a href="https://syfaro.net/char" class="syfaro">syfaro.net/char</a>.
					</div>

					<div style="margin-top: 10px">
						Prefer PayPal still? You can do that <a title="Donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=syfaro@huefox.com&lc=US&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted"
						 target="_blank" class="syfaro donate">here</a>.
					</div>
				</div>
	
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		document.querySelector('.donate').addEventListener('click', ev => {
			ev.preventDefault();
			$('.donate-modal').modal('show');
		});
	</script>

	<script src="{{ url_for('static', filename='js/notices.js') }}"></script>
</body>
</html>
