{% extends '_main.html' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-md-offset-4">
				<h1>Settings</h1>

				<a href="/upload" class="btn btn-primary">Return home</a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4 col-md-offset-4">
				<h2>Account</h2>

				<div>
					<a href="/switchtheme">{% if user.dark_theme %}Light theme{% else %}Dark theme{% endif %}</a>
				</div>

				<div>
					<a href="/changepass">Change password</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4 col-md-offset-4">
				<h2>SoFurry settings</h2>

				<div>
					<p class="help-block">Make explicit correspond to SoFurry's extreme rating.</p>

					{% if sofurry | length > 0 %}
						<form method="POST" action="/settings/sofurry/remap">
							{% for account in sofurry %}
								<div class="checkbox">
									<label>
										<input type="checkbox" name="account[{{ account.id }}]" {% if account.enabled %}checked{% endif %}>
										{{ account.username }}
									</label>
								</div>
							{% endfor %}

							<button type="submit" class="btn btn-primary btn-sm">Update</button>
						</form>
					{% else %}
						<p>No SoFurry accounts configured.</p>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-4 col-md-offset-4">
				<h2>FurAffinity settings</h2>

				<div>
					<p class="help-block">Enable uploading higher resolution images to FurAffinity.</p>

					{% if furaffinity | length > 0 %}
						<form method="POST" action="/settings/furaffinity/resolution">
							{% for account in furaffinity %}
								<div class="checkbox">
									<label>
										<input type="checkbox" name="account[{{ account.id }}]" {% if account.enabled %}checked{% endif %}>
										{{ account.username }}
									</label>
								</div>
							{% endfor %}

							<button type="submit" class="btn btn-primary btn-sm">Update</button>
						</form>
					{% else %}
						<p>No SoFurry accounts configured.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
