{% macro matureBox(name) -%}
    {% set lname = name|lower %}
    {% set content = sub.data.get('da-content') %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="da-content" value="{{ lname }}" id="da-{{ lname }}" {{ 'checked' if content and lname in content }}>
        <label class="form-check-label" for="da-{{ lname }}">{{ name }}</label>
    </div>
{%- endmacro %}

<div class="d-none deviantart-category mt-2">
    <div class="deviantart-mature d-none">
        <label>DeviantArt Mature Classification</label>

        {{ matureBox('Nudity') }}
        {{ matureBox('Sexual') }}
        {{ matureBox('Gore') }}
        {{ matureBox('Language') }}
        {{ matureBox('Ideology') }}
    </div>

    <label class="mt-2">DeviantArt Category</label>

    <input type="hidden" name="deviantart-category" value="{{ sub.data.get('deviantart-category') or '' }}">

    <div class="deviantart-categories"></div>

    <div class="spinner d-none"></div>
</div>
